<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <header class="page-header">
        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
          <img src="images/picture.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">
          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>I'm passionate about building software and I pride myself in finding the most elegant solution to the problems that I am facing. I love using the best tools to get things done and I can't stop learning new things everyday.</p>

          <p>I am proficient in many programming languages and my best expertise resides in Ruby, JavaScript and Elixir. I'm an experienced public speaker and I enjoy the process of explaining abstract concepts using practical examples.</p>

          <p>I am well versed in TDD and OOP, while being constantly amazed by the power of functional programming. I am very comfortable in a shell, using Vim as my daily editor and Git for keeping my code safe.</p>
        </div>
      </header>

      <section class="content-section">
        <header class="section-header">
          <h2 id="experience">Experience</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">NoRedInk, Remote</h3>
          <h4 class="resume-item-details" itemprop="description">Fullstack Engineer &bull; Aug, 2017 &mdash; Present</h4>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Erlang Solutions, London</h3>
          <h4 class="resume-item-details" itemprop="description">Elixir Engineer &bull; Nov, 2016 &mdash; Jul, 2016</h4>
          <p class="resume-item-copy">Worked as a consultant in various Elixir projects, with particular focus on onboarding teams to Elixir and introducing patterns for writing maintainable applications.</p>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">AlphaSights, London</h3>
          <h4 class="resume-item-details" itemprop="description">Lead Software Engineer &bull; Mar, 2014 &mdash; Sep, 2016</h4>
          <p class="resume-item-copy">Contributed substancially in maintaining and extending the application architecture, mainly composed by Rails, EmberJS, RabbitMQ and Postgresql. Led various teams, including a remote team, handling communication with stakeholders and focusing on unblocking team members to increase the productivity of the team.</p>
          <ul class="resume-item-list">
            <li>Led a project to switch one of the main workflows from the main Rails application to a EmberJS application. This involved all stages of the process, from database optimization to frontend component design.</li>
            <li>Paired continuously and coached junior developers. Held developer universities to educate the team the technical choices and design patterns. Delved into existing code and applied rigorous tecniques to refactor it while maintaining confidence in its core behaviour.</li>
            <li>Created and contributed to many open source projects, notably <a href="https://github.com/alphasights/ember-calendar">ember-calendar</a> and <a href="https://github.com/alphasights/ember-graphql-adapter">ember-graphql-adapter</a>.</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">weLaika, Turin</h3>
          <h4 class="resume-item-details" itemprop="description">Software Engineer &bull; Mar, 2011 &mdash; Jan, 2014</h4>
          <p class="resume-item-copy"></p>
          <ul class="resume-item-list">
            <li>Developed web applications using Ruby, Python and Javascript. A strong focus was given to object oriented patterns, test driven development and agile metodologies.</li>
            <li>Provided business consulting, managing projects as lead technical adviser, acquiring new clients and maintaining communication with stakeholders.</li>
            <li>Contributed to many open source projects, such as <a href="https://github.com/welaika/wordless">wordless</a> and <a href="https://github.com/welaika/wordmove">wordmove</a>.
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Politecnico di Torino, Turin</h3>
          <h4 class="resume-item-details" itemprop="description">PhD Fellow &bull; Jan, 2010 &mdash; Feb, 2011</h4>
          <p class="resume-item-copy"></p>
          <ul class="resume-item-list">
            <li>Developed an algorithm for high-speed network packet processing. The goal was to build a high performance regular expression engine for x86 family processor by exploiting the intrinsic parallelism of MMX and SSE instructions.</li>
            <li>Worked on NetPDL, a language for describing network protocols from layer 2 to layer 7; the resulting instructions were passed to a virtual machine that compiled the high level language to machine bytecode.</li>
            <li>Published and presented the paper "A Tunnel-aware Language for Network Packet Filtering" at Globecom 2010 in Miami.</li>
          </ul>
        </div>
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2 id="talks">Talks</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">NoSlidesConf 2017, Bologna</h3>
          <h4 class="resume-item-details"><a href="https://www.youtube.com/watch?v=3rU59MGwNC8">Live Coding a Mondrian Art Generator in Elm</a></h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">RailsConf 2017, Phoenix</h3>
          <h4 class="resume-item-details"><a href="https://https://www.youtube.com/watch?v=4l-aB_Sk41Y">Predicting Titanic Survivors with Machine Learning</a></h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Elixir LDN 2016, London</h3>
          <h4 class="resume-item-details"><a href="https://www.youtube.com/watch?v=5sRVThYE6to">Running Elixir on a Raspberry PI</a></h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">EmberConf 2016, Portland</h3>
          <h4 class="resume-item-details"><a href="https://www.youtube.com/watch?v=m2YD-wA5sAw">How I Learned to Love Ember</a></h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Code Slinger 2016, London</h3>
          <h4 class="resume-item-details">Blade Runner, Ex Machina, Her and You</h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">RubyConf Italy 2015, Turin</h3>
          <h4 class="resume-item-details"><a href="https://www.youtube.com/watch?v=r2xMo3J8-CA">Sonic PI, Live Music, Live Coding</a></h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">RubyConf Italy 2014, Treviso</h3>
          <h4 class="resume-item-details"><a href="https://www.youtube.com/watch?v=PpBaJNIkoGA">The Design of Everyday Ruby</a></h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Better Software 2013, Florence</h3>
          <h4 class="resume-item-details">Your project is legacy already, you just don't know it yet</h4>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">RubyConf Italy 2013, Milan</h3>
          <h4 class="resume-item-details">Fat Models Must Die</h4>
        </div>
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2 id="education">Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Alta Scuola Politecnica</h3>
          <h4 class="resume-item-details" itemprop="description">Master of Science, Computer Science &bull; 2007 &mdash; 2009</h4>
          <p class="resume-item-copy">Partecipated in a joint effort between Politecnico di Torino e Politecnico di Milano to create a multidisciplinary team to study and develop an innovative project: from our work on a wireless sensor network focused to improve the energy management in a complex builiding, a new project called Wifi4Energy was founded by the Politecnico di Torino.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">KTH Royal Institute of Technology</h3>
          <h4 class="resume-item-details" itemprop="description">Erasmus Programme &bull; 2008 &mdash; 2009</h4>
          <p class="resume-item-copy">Partecipated to the Erasmus Programme and worked at my thesis project in a company in Stockholm, Acreo AB.</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Politecnico di Torino</h3>
          <h4 class="resume-item-details" itemprop="description">Master of Science, Computer Science &bull; 2007 &mdash; 2009</h4>
          <p class="resume-item-copy">Graduated summa cum laude as Master of Science from Politecnico di Torino in Computer Network Engineering with thesis titled "Analysis and implementation of a constrained path computation algorithm in a multilayer GMPLS network".</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Politecnico di Torino</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor, Computer Science &bull; 2004 &mdash; 2007</h4>
          <p class="resume-item-copy">Graduated summa cum laude as Bachelor of Science from Politecnico di Torino in Computer Science.</p>
        </div>
      </section>

      <section class="content-section">
        <header class="section-header">
          <h2 id="languages">Languages</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li>Italian, native proficiency</li>
            <li>English, full professional proficiency</li>
            <li>Chinese, elementary proficiency</li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
